body{
color: hsl(356, 100%, 66%) ;
color : hsl(355, 100%, 74%) ;
color: hsl(0, 0%, 100%) ;
color: hsl(240, 2%, 79%) ;
color : hsl(207, 13%, 34%); 
color: hsl(240, 10%, 16%) ;

color: hsl(353, 100%, 62%);
color: hsl(13, 100%, 72%);


color: hsl(237, 17%, 21%);
color: hsl(237, 23%, 32%);
color: hsl(13, 100%, 72%);

}
 

 


