button {
  background-color: hsl(0, 0%, 100%);
  color: hsl(13, 100%, 72%);
  border-radius: 20px;
  padding: 8px 19px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s;
  border: 1px solid white;
  font-size: 11px;
}
button:hover {
  background-color: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
}
button.active {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
}
button.active:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(13, 100%, 72%);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Overpass", sans-serif;
  font-weight: 400, 500, 700;
}

.page-header nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header nav div {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .page-header nav div {
    display: none;
  }
  .page-header nav div.activ {
    display: block;
  }
}
.page-header nav div ul.nav {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 20px;
  gap: 30px;
  flex: 1;
}
.page-header nav div ul.nav > li {
  position: relative;
}
.page-header nav div ul.nav > li:hover > .dropdown-menu {
  display: block;
}
.page-header nav div ul.nav > li:hover::after {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.page-header nav div ul.nav > li a {
  color: hsl(0, 0%, 100%);
}
.page-header nav div ul.nav > li::after {
  content: "";
  position: absolute;
  top: 28%;
  right: -12px;
  width: 9px;
  height: 10px;
  background-image: url("../images/icon-arrow-light.svg");
  background-position: center;
  background-size: cover;
  background-image: url("../images/icon-arrow-light.svg");
}
@media (max-width: 480px) {
  .page-header nav div ul.nav > li::after {
    background-image: url("../images/icon-arrow-light.svg");
  }
}
@media (max-width: 480px) {
  .page-header nav div ul.nav > li::after {
    background-image: url("../images/icon-arrow-light.svg");
  }
}
@media (max-width: 767px) {
  .page-header nav div ul.nav > li::after {
    background-image: url("../images/icon-arrow-light.svg");
  }
}
.page-header nav div ul.nav > li ul.dropdown-menu {
  position: absolute;
  top: 23px;
  display: block;
  background-color: hsl(0, 0%, 100%);
  padding: 10px auto;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  padding: 15Px;
  min-width: 161px;
  display: none;
}
.page-header nav div ul.nav > li ul.dropdown-menu li {
  text-align: left;
}
.page-header nav div ul.nav > li ul.dropdown-menu li a {
  color: hsl(240, 10%, 16%);
  font-weight: 400;
}
.page-header nav div ul.nav > li ul.dropdown-menu li a:hover {
  font-weight: 700;
}
.page-header nav div div {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.page-header nav div div span {
  color: hsl(0, 0%, 100%);
}
.page-header nav div .svg {
  display: none;
}
@media (max-width: 991px) {
  .page-header nav div .svg {
    display: block;
  }
  .page-header nav div .svg svg {
    cursor: pointer;
    display: none;
  }
  .page-header nav div .svg svg.activ {
    display: block;
  }
}
.page-header .part_tow {
  text-align: center;
  color: hsl(0, 0%, 100%);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 40px 0;
}
.page-header .part_tow h1 {
  font-size: 45Px;
  margin-bottom: 22px;
}
@media (max-width: 480px) {
  .page-header .part_tow h1 {
    font-size: 32px;
  }
}
.page-header .part_tow p {
  margin-bottom: 43px;
}
.page-header .part_tow .button:nth-child(2) {
  margin-left: 20px;
}
.page-header {
  background-color: hsl(13, 100%, 72%);
  padding: 0 60px;
  display: flex;
  height: 450px;
  flex-direction: column;
  background-image: url("../images/bg-pattern-intro-desktop.svg");
  background-size: 2000px;
  background-position: left;
  border-bottom-left-radius: 85px;
}
@media (max-width: 480px) {
  .page-header {
    background-image: url("../images/bg-pattern-intro-mobile.svg");
    background-position: center;
    background-size: 1000px;
    padding: 0 30px;
  }
}
@media (max-width: 480px) {
  .page-header {
    background-image: url("../images/bg-pattern-intro-mobile.svg");
    background-position: center;
  }
}
@media (max-width: 767px) {
  .page-header {
    background-image: url("../images/bg-pattern-intro-mobile.svg");
    background-position: center;
  }
}

.section_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px;
  height: 700px;
}
@media (max-width: 480px) {
  .section_2 {
    height: fit-content;
  }
}
.section_2 h2 {
  color: hsl(237, 23%, 32%);
  text-align: center;
}
@media (max-width: 480px) {
  .section_2 h2 {
    font-size: 23px;
  }
}
.section_2 .part-tow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .section_2 .part-tow {
    flex-direction: column-reverse;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 121px;
  }
}
.section_2 .part-tow .one {
  flex-basis: 50%;
}
@media (max-width: 480px) {
  .section_2 .part-tow .one {
    margin-top: 50px;
  }
}
.section_2 .part-tow .one h4 {
  color: hsl(237, 23%, 32%);
  margin-bottom: 15px;
}
.section_2 .part-tow .one p {
  color: hsl(240, 2%, 79%);
  margin-bottom: 30px;
}
.section_2 .part-tow .tow img {
  width: 500px;
  height: 500px;
}
@media (max-width: 480px) {
  .section_2 .part-tow .tow img {
    width: 400Px;
    height: 400px;
  }
}

.section_3 {
  display: flex;
  align-items: center;
  background-color: hsl(237, 17%, 21%);
  height: 350Px;
  border-radius: 0px 77px 0 77px;
  background-image: url("../images/bg-pattern-circles.svg");
  background-position: left;
  background-size: cover;
  background-size: 655px;
  background-repeat: no-repeat;
  background-position-y: -281px;
  margin-bottom: 30px;
  position: relative;
}
@media (max-width: 480px) {
  .section_3 {
    flex-direction: column;
    height: fit-content;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .section_3 .tow {
    margin-top: -100Px;
    padding-bottom: 79px;
  }
  .section_3 .tow h2 {
    color: hsl(0, 0%, 100%);
  }
}
@media (max-width: 480px) and (max-width: 480px) {
  .section_3 .tow h2 {
    font-weight: 500;
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .section_3 .tow p {
    color: hsl(0, 0%, 100%);
    max-width: 400px;
    font-weight: 300;
    line-height: 30px;
  }
}
@media (max-width: 480px) and (max-width: 480px) {
  .section_3 .tow p {
    margin: auto;
  }
}
@media (max-width: 480px) {
  .section_3 img {
    width: 400px;
    height: 400Px;
    transform: translateY(-150px);
  }
}

.section_4 {
  padding: 60px;
  display: flex;
  align-items: center;
  height: 650px;
}
@media (max-width: 480px) {
  .section_4 {
    flex-direction: column;
    height: fit-content;
    text-align: center;
  }
}
.section_4 img {
  width: 600px;
  transform: translateX(-52px);
}
.section_4 .one {
  flex-basis: 50%;
}
.section_4 .one h4 {
  color: hsl(237, 23%, 32%);
  margin-bottom: 15px;
}
.section_4 .one p {
  color: hsl(240, 2%, 79%);
  margin-bottom: 30px;
}

footer {
  display: flex;
  padding: 60px;
  background-color: hsl(240, 10%, 16%);
  justify-content: space-around;
  border-top-right-radius: 82px;
}
@media (max-width: 480px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
  footer svg {
    margin: auto;
    margin-bottom: 30px;
  }
  footer nav ul {
    margin-bottom: 30px;
  }
}
footer nav h5 {
  color: hsl(0, 0%, 100%);
}
footer nav ul a {
  color: hsl(240, 2%, 79%);
}
footer nav ul a:hover {
  text-decoration-line: revert;
}

/*# sourceMappingURL=website.css.map */
