@import "helper/_varble"
@import "component/_button"
@import "helper/_mixin"
@import "pegs/_globlepegs"
@import "component/_nev"
.page-header
    background-color:$Very-light-red
    padding: 0 60px
    display: flex
    height: 450px
    flex-direction: column
    background-image: url("../images/bg-pattern-intro-desktop.svg")
    background-size: 2000px
    background-position: left
    border-bottom-left-radius: 85px

    @include for-size(  mobile-small)
      background-image: url("../images/bg-pattern-intro-mobile.svg")
      background-position: center
      background-size: 1000px
      padding: 0 30px
      
    @include for-size( mobile-small)
      background-image: url("../images/bg-pattern-intro-mobile.svg")
      background-position: center
    @include for-size(max-mobile)
      background-image: url("../images/bg-pattern-intro-mobile.svg")
      background-position: center
.section_2
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 60px
    height: 700px
    @include for-size(  mobile-small)
      height: fit-content


    h2
        color: $Very-dark-desaturated-blue
        text-align: center
        @include for-size(  mobile-small)
            font-size: 23px

    .part-tow
        display: flex
        align-items: center
        justify-content: space-between
        @include for-size(  mobile-small)
           flex-direction: column-reverse
           margin-top: 50px
           text-align: center
           margin-bottom: 121px
           


        .one
            flex-basis: 50%
            @include for-size(  mobile-small)
              margin-top: 50px

            h4
               color: $Very-dark-desaturated-blue
               margin-bottom: 15px
            p
                color: $Grayish-blue
                margin-bottom: 30px
        .tow
            img
                width: 500px
                height: 500px
                @include for-size(  mobile-small)
                  width: 400Px
                  height: 400px
            
.section_3
    display: flex
    align-items: center
    background-color: $Very-dark-gray-blue
    height: 350Px
    border-radius: 0px 77px 0 77px
    background-image: url("../images/bg-pattern-circles.svg")
    background-position: left
    background-size: cover
    background-size: 655px
    background-repeat: no-repeat
    background-position-y: -281px
    margin-bottom: 30px
    position: relative
    @include for-size(  mobile-small)
        flex-direction: column
        height: fit-content
        text-align: center
        
        
    .tow
      @include for-size(  mobile-small)
      
        margin-top: -100Px
        padding-bottom: 79px
        h2
          color: $White
          @include for-size(  mobile-small)
    
              font-weight: 500
              font-size: 36px
    
        p
          color: $White
          max-width: 400px
          font-weight: 300
          line-height: 30px
          @include for-size(  mobile-small)
             margin: auto

    img
      @include for-size(  mobile-small)
        width: 400px
        height: 400Px
        transform: translateY(-150px)
        
    
.section_4
  padding: 60px
  display: flex
  align-items: center
  height: 650px
  @include for-size(  mobile-small)
     flex-direction: column
     height: fit-content
     text-align: center

  img
    width: 600px
    transform: translateX(-52px)
  .one
            flex-basis: 50%
            h4
               color: $Very-dark-desaturated-blue
               margin-bottom: 15px
            p
                color: $Grayish-blue
                margin-bottom: 30px
footer
  display: flex
  padding: 60px
  background-color: $Very-dark-black-blue
  justify-content: space-around
  border-top-right-radius: 82px
  @include for-size(  mobile-small)
      flex-direction: column
      text-align: center
      svg
        margin: auto
        margin-bottom: 30px

      nav  
         ul
           margin-bottom: 30px

  nav
    h5
      color: $White
    ul
      a
        color: $Grayish-blue
        &:hover
          text-decoration-line: revert


    
       
       
    
        
    


    





